@import "./index/footer.css";
@import "./global/global.css";
@import "./index/contactus.css";
@import "./index/pricing.css";
@import "./index/testimonials.css";
@import "./index/partners.css";
@import "./index/prototyping.css";
