.footer {
  background-color: var(--dark-1);
  padding: 50px 20px;
  width: 100%;
}

.footer .footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  margin: 0 auto; 
  gap: 30px;
}

.footer .footer__col {
  text-align: left; 
}

.footer .footer__col .footer__title {
  font-size: 20px;
  font-family: "Graphic", sans-serif; 
  font-weight: 700;
  margin-bottom: 25px;
  max-width: 250px;
  color: var(--white);
}

.footer__col{
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

.footer .footer__col .footer__item {
  font-size: 15px;
  font-family: "Graphic", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--white);
}

.footer .footer__address-line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer .footer__address-line .footer__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
  flex-shrink: 0;
}

.footer .footer__address-line .footer__address-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
}

.footer .footer__socials {
  display: flex;
  gap: 20px;
}


.footer_icon{
  width: 40px;
  height: auto;
}

@media (max-width: 576px) {
  .footer{
    max-width: none;
    width: 100%;
    height: auto;
  }
  .footer .footer__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer .footer__col,
  .footer .footer__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}