.partners {
  .partners__container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partners__title {
    font-size: 48px;
    font-weight: 400;
    color: var(--dark-1);
  }

  .partners__subtitle {
    font-size: 28px;
    font-weight: 400;
    color: var(--dark-2);
    margin: 20px auto;
    max-width: 500px;
  }

  .partners__button {
    width: 100%;
    max-width: 190px;
  }

  .partners__logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .partners__item {
    border: 1px solid var(--border-1);
    border-radius: 4px;
    background-color: var(--white);
    width: 100%;
    min-width: 180px;
    max-width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }

  .partners__item:nth-child(n + 4) {
    display: none;
  }

  .partners__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--overlay-10);
  }

  .partners__client-name {
    font-size: 12px;
    color: var(--dark-2);
    margin-bottom: 15px;
    opacity: 0.7;
  }

  .partners__logo {
    max-width: 150px;
    max-height: 70px;
    object-fit: contain;
  }

  @media (min-width: 1000px) {
    padding: 40px 0;

    .partners__item:nth-child(n + 4) {
      display: flex;
    }

    .partners__logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1px;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto 50px auto;
    }

    .partners__item {
      margin: 0;
      width: 100%;
      max-width: none;
    }
  }
}
