.pricing {
  padding: 50px 0;
  background-color: var(--dark-1);
  width: 100%;
  height: auto;
  font-family: "Graphic", sans-serif;

  .pricing__title {
    text-align: center;
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .pricing__subtitle {
    text-align: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 500px;
    margin: 0 auto 45px auto;
    padding: 0 20px;
  }

  .pricing_cards {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 30px;
  }

  .price-card {
    background: var(--white);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 13px 19px var(--overlay-7);
    transition: transform 0.3s ease;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price-card__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-1);
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .price-card__promo {
    font-size: 14px;
    color: var(--muted);
    margin-bottom: 10px;
    line-height: 1.5;
    max-width: 200px;
  }

  .price-card__price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0 30px 0;
  }

  .price-card__amount {
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    margin-right: 10px;
    color: var(--dark-1);
  }

  .price-card__period {
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    color: var(--muted);
    font-weight: 500;
  }

  .price-card__period b {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-1);
    display: block;
    line-height: 1;
    margin-bottom: 5px;
  }

  .price-card__item {
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-1);
    margin-bottom: 15px;
  }

  .price-card__button {
    width: 100%;
    max-width: 250px;
    margin-top: 15px;
  }

  .price-card--blue {
    background: var(--primary);
    border: none;

    .price-card__title,
    .price-card__promo,
    .price-card__amount,
    .price-card__period,
    .price-card__period b,
    .price-card__item {
      color: var(--white);
    }

    .price-card__button {
      background-color: var(--white);
      color: var(--primary);
    }

    .price-card__button:hover {
      background-color: var(--bg-2);
    }
  }

  @media (min-width: 1000px) {
    padding: 80px 0;

    .pricing__title {
      font-size: 48px;
    }

    .pricing__subtitle {
      font-size: 28px;
    }

    .pricing__cards {
      display: flex; 
      flex-direction: row; 
      flex-wrap: wrap; 
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-top: 40px;
    }

    .price-card {
      margin: 10px; 
      width: auto; 
      flex: 1;
      min-width: 300px; 
      max-width: 350px;
    }

    .price-card--blue {
      transform: scale(1.15);
      z-index: 2;
      padding: 60px 40px;
    }
  }
}